
/* work-sans font from google from */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Work Sans", sans-serif;
}


/* this is header section start */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px 30px 228px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list ul{
    display: flex;
    list-style: none;
    
}
.nav-list ul li{
margin-right: 50px;
}
.nav-list ul a{
    text-decoration: none;
}